#app-main, #image-extra {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#canvas-section, #canvas-extra {
    display: none;
    padding: 10px;
    width: 100%;
    flex-direction: column;
}

#canvas-section {
    align-items: center;
    justify-content: center;
}

#canvas-text, #canvas-extra {
    height: -moz-available;
    height: -webkit-fill-available;
    width: 100%;
    max-height: 60vh;
}

#canvas {
    max-width: 100%;
    aspect-ratio: 1 / 1;
    max-height: 60vh;
    width: auto;
    border: 1px solid var(--color-dark);
    background-color: #fff;
}

#spin-it {
    margin-top: 16px;
}

#image-section {
    border: 1px solid var(--color-dark);
    max-height: 50vh;
    max-width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
}

#results-section {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.result-coin {
    width: 50px;
    height: 50px;
    background-image: url("/assets/coin-sprite-sheet.png");
    background-size: auto 50px;
}

.result-die {
    width: 50px;
    height: 50px;
    background-image: url("/assets/dice-sprite-sheet.png");
    background-size: auto 50px;
}