#app-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.app-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.highlight {
    background-color: aquamarine;
}

textarea, #code-overlay {
    width: 100%;
}
textarea, #code-overlay, #code-overlay > span {
    resize: none;
    font-family: monospace;
    font-size: 20px;
    letter-spacing: 2px;
}

#code-text, #code-overlay {
    height: 150px;
}

#code-overlay {
    display: none;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 1px;
    padding: 2px;
    background-color: white;
    color: black;
    overflow-y: auto;
}

#output-text {
    height: 80px;
}

#execute {
    width: fit-content;
}

.th-separator {
    border-right: 1px solid var(--color-tertiary);
}

.td-separator {
    border-right: 1px solid var(--color-dark);
}

#canvas {
    width: 100%;
    aspect-ratio: 3/2;
    max-height: 50vh;
    border: 1px solid var(--color-dark);
    background-color: #fff;
}

@media only screen and (min-width: 600px) {
    #app-container {
        flex-direction: row;
    }
}
